@import "list.scss";
// BEM
// block - block list
// Element - item, button
// Modifier - active, disable
// list__item
// list__item--active
// button__icon--primary
// button--alert
// button--info
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html,body{
  width:100%;
  height: 100%;
}
#app{
  padding: 1rem;
}

