*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100vw;
  height: 100vh;
  background-color: hsl(220, 60%, 15%);
}
#wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
.snow{
  position: fixed;
  top:-10px;
  left:0;
  display:flex;
  width: 3px;
  height:3px;
  background-color: white;
  border-radius:3px;
  animation: snowfall 3s infinite forwards linear;
}
@keyframes snowfall {
  0%{
    top:-10px;
  }
  100%{
    top:100%;
  }
}