* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  /* display : flex 항상 내가 정렬하고 싶은
    아이템의 부모에게 이 속성을 준다.
  */
  /* flexible box라고도 부른다.
     말 그대로 유연하게 박스들을 배치 가능하기 때문!
  */
  display: flex;
  /* row : 수평 정렬하는 속성 */
  justify-content: space-between;
  /* 수직 정렬하는 속성 */
  align-items: center;
  padding: 15px 40px;
  background-color: #333;
}

.logo img {
  /* .logo라는 클래스 안에 있는 img 태그에게만 적용 */
  width: 40px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.gnb-item a {
  color: #fff;
  font-weight: 700;
}