/* 전역변수 - 전체 영역에서 쓰이는 변수다 */
:root{
  --size: 36px;  
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;  
}
#app{
  width: 100vw;
  height: 100vh;
  background-color: hsl(200,50%,30%);
}
#pointer{ 
  /* --size:36px; */
  /* --shadow :0 30px 30px black;
  box-shadow: var(--shadow);
  background-color: white;; */
  
  position: fixed;
  top:0;
  left:0;
  width:var(--size);
  height: var(--size);
  border-radius: var(--size);
  border: 1px solid white;
  cursor:none;
}

#pointer::after{
  --size: 4px;
  /* 가운데 정렬하는 방법
  absolute, fixed와 같은 고정된 위치를 가질때 사용하는 방법
  top, left | bottom, right - 각각 50%
  x = 좌우로 이동하는 값, y = 상하로 이동하는 값
  transform: translate(x, y)
  ------------------------------------------------------
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  ------------------------------------------------------
  */
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  border-radius:var(--size);
  background-color: white;
  /* absolute일 경우 content 꼭 넣어주기 */
  content:'';
}
#app .bubble{
  display: block;
  width:var(--size);
  height:var(--size);
  border-radius:var(--size);
  background-color: white;
  /* opacity: 0; */
}
#app .bubble.active{
  opacity:1;
  animation: bubble 1s ease-in-out forwards;
}
@keyframes bubble {
 0%{
  opacity:0;
  transform: scale(0);
 } 
 100%{
  opacity:1;
  transform: scale(1.2);
 }
}