@font-face {
  font-family: Orbitron;
  src : url('./fonts/Orbitron-Regular.eot');
  src : url('./fonts/Orbitron-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #555;
  text-decoration: none;
}

body {
 font-family: Orbitron, sans-serif; 
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size : cover;
}

/* 전체화면 배경 class */
.wrapper.morning {
  background-image: url('./images/bg_morning.jpg');
}

.wrapper.afternoon {
  background-image: url('./images/bg_afternoon.jpg');
}

.wrapper.evening {
  background-image: url('./images/bg_evening.jpg');
}

.wrapper.night {
  background-image: url('./images/bg_night.jpg');
}

/* 전체화면 구름 1,2 */
.wrapper > img:nth-child(1) {
  position: absolute;
  top: 45px;
  left: 15px;
  width: 800px;
  opacity: 0.8;
}

.wrapper > img:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 0;
  width: 1000px;
  opacity: 0.6;
}

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.logo {
  width: 90px;
  height: 80px;
  background-image: url('./images/logo_b.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gnb-list {
  display: flex;
}

.gnb-list li {
  margin-right: 30px;
}

.gnb-list li:last-child {
  margin-right: 0;
}

.gnb-list li a {
  font-weight: 700;
}

.gnb-list li a::after {
  content: '';
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid #444;
  /* 중심점이 가상 요소의 가운데로 설정 */
  transform: scaleX(0);
  transition: transform 500ms;
}

.gnb-list li a:hover::after {
  transform: scaleX(1);
}